/* Reset geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    position: fixed;
}
header span {
    text-align: center;
}
header nav {
    width: 100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color:aqua;
    color: black;
}
section, div{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
img{
    width: 40%;
    max-height: 30vw;
    margin: 0.5rem;
    
}
p{
    width: 50%;
}
footer{
    background-color: aquamarine;
    height: 4rem;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 1rem;
}